
.info-title {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.489);
    font-family: 'bodoni MT';
    text-align: center;
}

.info-text {
    color: #000;
    font-family: 'bodoni MT';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.large-text {
    font-size: 20px;
    font-family: 'Goudy Old Style';

}

